@model Acrossud.Models.NewEntityModel
@using Acrossud.Models;

@{
    ViewBag.Title = "Agregar nueva propiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddNew", "Entities", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    foreach (Property property in Model.Properties)
    {
        @Html.LabelFor(prop => property.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
        @switch (property.Type)
        {
            case EnumConst.PropertyType.Bool:
                @Html.EditorFor(prop => property.Value, new { @class = "form-control" });
                break;
            case EnumConst.PropertyType.Int:
                @Html.DropDownListFor(m => m.RoomCountSelected, Model.RoomValues);
                break;
            default:
                @Html.EditorFor(m => property.Value, new { @class = "form-control" })
                break;
        }
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Guardar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




