@model Acrossud.Models.EntityCollectionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 text-right" id="add-new-entity">
         <div>
            @Html.ActionLink("Agregar nueva", "CreateNew", "Entities", null, new { @class = "btn btn-success" })
         </div>
         <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 entities-col-wrapper">
        @{
            foreach (Entity entity in Model.Entities)
            {
                string main_picture_src = String.Empty;
                if (entity.Properties.FirstOrDefault(p => p.Name == EnumConst.PropertyNameMainPicture) != null)
                {
                    main_picture_src = @Url.Content(string.Format(EnumConst.EntityImagesPath + "/{2}", "", entity.Id, entity.Properties.FirstOrDefault(p => p.Name == EnumConst.PropertyNameMainPicture).Value));
                }
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="row edit-entity-wrapper" style="background-image:url('@Html.Raw(main_picture_src)')">
                        <div class="titles-background">
                            <div class="row text-right">
                                @Html.ActionLink("Editar", "Edit", "Entities", new { entity_id = @entity.Id }, new { @class = "btn btn-primary btn-sm btn-edit" })
                            </div>
                            <div class="titles">
                                <h3>@entity.Name</h3>
                                <h5>@entity.Description</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



